USE [master]
GO
/****** Object:  Database [DevDB]    Script Date: 2020/11/22 下午 08:38:32 ******/
CREATE DATABASE [DevDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DevDB', FILENAME = N'/var/opt/mssql/data/DevDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DevDB_log', FILENAME = N'/var/opt/mssql/data/DevDB.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DevDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DevDB]
GO
/****** Object:  User [NetCoreApp]    Script Date: 2020/11/22 下午 08:38:33 ******/
CREATE USER [NetCoreApp] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [NetCoreApp]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2020/11/22 下午 08:38:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 2020/11/22 下午 08:38:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[A_SPID] [int] NOT NULL,
	[A_NO] [int] IDENTITY(1,1) NOT NULL,
	[A_USERID] [nvarchar](50) NOT NULL,
	[A_PASSWORD] [nvarchar](50) NULL,
	[A_USERNAME] [nvarchar](50) NULL,
	[A_ENG_NAME] [nvarchar](50) NULL,
	[A_PID] [nvarchar](50) NULL,
	[A_EMAIL] [nvarchar](100) NULL,
	[A_SEX] [nvarchar](10) NULL,
	[A_BIRTHDAY] [datetime] NULL,
	[A_TEL_O] [nvarchar](50) NULL,
	[A_STATUS] [varchar](2) NULL,
	[A_AUID] [int] NULL,
	[A_JOBTITLE] [nvarchar](100) NULL,
	[A_RGID] [int] NULL,
	[A_NOTE] [nvarchar](128) NULL,
	[A_IDENTITY] [varchar](1) NULL,
	[A_CREATEUSER] [int] NULL,
	[A_CREATEDATE] [datetime] NULL,
	[A_UPDATEUSER] [int] NULL,
	[A_UPDATEDATE] [datetime] NULL,
	[A_ADSITE] [nvarchar](50) NULL,
	[A_FQDN] [nvarchar](100) NULL,
	[A_VLAN] [varchar](2) NULL,
 CONSTRAINT [PK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[A_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[admin_tools]    Script Date: 2020/11/22 下午 08:38:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_tools](
	[at_spid] [int] NOT NULL,
	[at_id] [int] NOT NULL,
	[at_name] [nvarchar](50) NULL,
	[at_url] [nvarchar](100) NULL,
	[at_class] [nvarchar](50) NULL,
	[at_class_name] [nvarchar](50) NULL,
	[at_mflag] [nvarchar](2) NULL,
	[at_openflag] [nvarchar](2) NULL,
	[AT_STATUS] [nvarchar](2) NULL,
	[AT_GROUP] [nvarchar](10) NULL,
 CONSTRAINT [PK_admin_tools] PRIMARY KEY CLUSTERED 
(
	[at_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VirtualMachine]    Script Date: 2020/11/22 下午 08:38:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VirtualMachine](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VMName] [nvarchar](10) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[CPU] [int] NOT NULL,
	[Memory] [int] NOT NULL,
	[Disk] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_VirtualMachine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
